.benefits {
    position: relative;
    background-color: $color-primary;
    padding-bottom: 10rem;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    
    @include respond(tab-port) {
        padding-top:4rem;
        padding-bottom: 14rem;
    }

    @include respond(phone) {
        padding-top:6rem;
        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    
   /* &__bg-img{
        width:100%;
        height: 100%; // ???
        //height:80vh;
        position: absolute;
        background-image: url(/Content/background-00.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;

        filter: blur(4px);
        -webkit-filter: blur(2px);
        }

*/


    &__box {
        //z-index: 2;
        padding: 0 3vw;
        //height:50rem;

        display:grid;
        //grid-template-rows: minmax(min-content,30vh);
        //grid-template-rows:  80vh min-content auto;
        grid-template-columns: repeat(auto-fit,(minmax(200px,1fr)));
        grid-gap: 5rem;
        //grid-auto-rows: 30rem;
        text-align: center;

        .description-icon {
            font-weight: 100;
            font-size: 5rem;
            color: $color-grey-light-1;
            margin-top: 1.5rem;
            margin-bottom: .8rem;
            animation-name: moveInTop;
            animation-duration: 2s;
        }
    }

    .box {
        text-align: center;
        background-color: rgba($color-primary-light,.7);
        //border-radius: 5px;
        height: 30rem;
        display:block;

        @include respond(tab-land) {
            height: 25rem;
        }

        @include respond(phone) {
            height: 21rem;
        }

        @include respond(small-phone) {
            height: 19rem;
        }
    }
}