.header {
    height: 90vh;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgba($color-grey-dark-2,.9), rgba($color-grey-dark-3,.9));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-position: top;

    @include respond(phone) {
        height:70vh;
        -webkit-clip-path:none;
        clip-path: none;
    }

    @include respond(small-phone) {
        height:50vh;
    }

    

    &__logobox {
        position: absolute;
        top:0;
        left: 0;
        height: 10rem;
        width: 10rem;

        &--logo {
            height:8rem;
            width:auto;
            transition: all 1s;

            &:hover {
                transform: rotate(20deg);
            }
        }
    }

    &__description {
        position: absolute;
        top:50%; 
        left:50%;
        transform: translate(-50%,-50%);
    }

}