.pricing {
    
    -webkit-clip-path: polygon(0 10%, 100% 90%, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding-top: 8rem;
    margin-top:-8rem;
    @include respond(largest) {
        margin-top:-12rem;
    }

    @include respond(phone) {
        -webkit-clip-path:none;
        clip-path: none;
    }
    

    height:100%;
    background-image: linear-gradient(to bottom right, rgba($color-primary,.9) rgba($color-primary,.9));
    padding-bottom: 15rem;

    &__heading {
        padding: 5rem 0;
    }

    &__box {
        padding: 0 2vw;
        display:grid;
        grid-template-columns: repeat(auto-fit,(minmax(25rem,30rem)));
        //grid-auto-columns: 30rem; 
        grid-column-gap: 2.5rem;
        grid-row-gap: 3.5rem;
        justify-content: space-evenly;

        .pricing__photo {
            width:100%;
            height:20rem;
        }
        
        &--1,&--2,&--3,&--4{
            background-color: $color-primary-dark;
            transition: all .5s;
            overflow: hidden;
            
            &:hover {
                transform: scale(1.03) rotate(1deg);
            }
        }


    }

    .pricing__list {
        list-style: none;
        font-size: 1.7rem;
        font-weight: 200;

        line-height: 4rem;
        padding: 0 2rem 0 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid $color-white;
        }
        
        
    }

    &__icon {
        margin-right: 1rem;
        font-size: 2rem;
        font-weight: 100;
    }

}