
$color-primary: #454b51;
$color-primary-light:#646d76;
$color-primary-dark:#646d76;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2: rgb(92, 92, 92);
$color-grey-dark-3: rgb(31, 31, 31);

$color-white: #fff;
$color-black: rgb(0,0,0);


/*Font*/
$default-font-size:1.6rem;