.btn {

    &, 
    &:link,
    &:visited {
    font-size: 1.6rem;
    letter-spacing: .4rem;
    font-weight: 400;
    text-decoration: none;
    color: $color-grey-light-1;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 4rem;
    //transition: all 0.2s;
    position:relative;
    cursor: pointer;
    }

    &--black {
        background-color: $color-black !important;
        border: 1px solid $color-white;
        border-radius: 5rem;
        transition: all 1s;
        animation: moveInleft .6s ease-in;
        margin-top: 8rem;

        &:hover {
            transform: scale(1.2);
        }

        @include respond(super-small-phone) {
            margin-top:0;
        }
    }

    &--primary {
        background-color: $color-primary;
        border: 1px solid $color-white;
        border-radius: 100px;
        transition: all .2s ease;
        //margin-top: 17rem;

        &:hover {
            transform: scale(1.1);
        }
    }

    &--secondary {
        color: $color-primary !important;
        margin-top: 10rem;
        transition: all .5s !important;
        animation: moveInleft 1s;

        &:hover {
            background-color: $color-primary-light;
            color: $color-white !important;
            border-radius: 100px;
            transform: scale(1.1);
        }
    }

    &--tertiary {
        transition: all .5s !important;
        //animation: moveInBottom 1.5s;
        background-color: $color-primary-light;
        border-radius: 20px;

        &:hover {
            transform: scale(1.2);
            border:1px solid $color-primary;
        }
    }
}
.button__pricing {
    padding-top: 1rem;
}