.heading-primary {
    text-transform: uppercase;
    display:block;
    backface-visibility: hidden;

    &--main {
        letter-spacing: 4rem;
        font-size: 4.5rem;
        display: block;
        font-weight: 200;
        animation-name: moveInBottom;
        animation-duration: 2s;
        margin-left: 3rem;
        margin-bottom: -1rem;
    }

    &--sub {
        font-size: 2.5rem;
        letter-spacing: 1rem;
        display: block;
        font-weight: 400;
        animation-name: moveInTop;
        animation-duration: 2s;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .4rem;
    color: $color-primary;
    transition: all .6s ease;
        
    &:hover {
        transform: skewY(-7deg) scale(1.03);
        text-shadow: 0.5rem 3rem 3rem rgba($color-black, .5);
    }
    
}

.heading-tertiary {
    font-size: 3rem;
    color:$color-white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5rem;
    text-align: center;
    margin-bottom: 2rem;
}