.u-center-text {text-align: center !important;}

.u-margin-bottom-lg {margin-bottom: 10rem;}
.u-margin-bottom-md {margin-bottom: 6rem;}
.u-margin-bottom-sm {margin-bottom: 4rem;}

.br-sm {border-radius: 5px;}
.pd-md{padding-top:6rem;}
.pd-lg {padding-top:10rem;}

.mg-top-huge {margin-top:17rem;}